.Layout {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
 
}

.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Layout aside {
  flex: 20% 0 0;
  background-color: white
}
.Layout main {
  flex: 80% 1 1;
  background-color: white
}
.Layout footer {
  flex: 100% 0 0;
  background-color:gray;
}
@media (max-width: 650px) {
  .Layout header > .Nav {
    display: none;
  }
}
