
.Contacts>.Techn{
  font-size: 25px;
  font-family:  'Times New Roman', Times, serif;
  font-weight: 900;
}

.Contacts .Apple img{
  height: 100%;
  width: auto;
}
.Contacts .centered h1 {
  font-size: 54px;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: 900;
}
.Contacts .centered h3 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: 400;
}
.Contacts .centered h3 a{
  color: black;
  font-weight: 800;
  display: inline-block;
  margin-top: 10px;
}

.Contacts .centered h2 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: 600;
}
.Contacts{
  padding-left: 40px;
}
.centered{
  width: 50%;
}
.Apple{
  width: 50%;
  max-width: 460px;
  height: 700px;
  overflow: hidden;
  border-radius: 50px;
}
.Product img{
  height: 500px;
}