

.Home h1 {
  font-family: "Times New Roman", Times, serif;
  color:black;
  padding-left: 28px;
  padding-top: 60px;
  font-size: 60px;
  height: 100px;
}
.Home aside {
  flex: 100% 0 0;
  display: flex;
  margin-top: 20px;
}
.Home img{
  width: 50%;
  height: 300px;
 padding-left: 120px;
}


