

.Home h1 {
  font-family: "Times New Roman", Times, serif;
  color:black;
  padding-left: 28px;
  padding-top: 60px;
  font-size: 60px;
  height: 100px;
  text-align: center;
  top: 120%;
}
.Home aside {
  flex: 100% 0 0;
  display: flex;
  margin-top: 20px;
}

.Home h2{
 
  font-size: 35px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  color:black;



}
.home_imgs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home_img img{
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s;
}
.home_img{
  width: calc((100% - 20px) / 2);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 350px;
  border-radius: 50px;
}
.home_img:hover img{
  transform: scale(1.02);
}
.home_img:first-child{
  width: 100%;
}
.map{
  border-radius: 50px;
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
}


.galery{
  --g:8px;/* the gap*/
  --s:400px;/* the size*/

  display: grid;
  border-radius:50% ;
}
.home_img__big{
  width: 100%;
}

.Contacts{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}