

.Home h1 {
  font-family: "Times New Roman", Times, serif;
  color:black;
  padding-left: 28px;
  padding-top: 60px;
  font-size: 60px;
  height: 100px;
  text-align: center;
  top: 120%;
}
.Home aside {
  flex: 100% 0 0;
  display: flex;
  margin-top: 20px;
}
.Home img{
  width: 60%;
  border-radius: 40px;

}

.Home h2{
 
  font-size: 35px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  color:black;



}
.home_imgs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home_img img{
  display: block;
  width: 100%;
  height: auto;
}
.home_img{
  width: calc((100% - 50px) / 3);
  margin-bottom: 15px;
}
.home_img:first-child{
  width: 100%;
}



.galery{
  --g:8px;/* the gap*/
  --s:400px;/* the size*/

  display: grid;
  border-radius:50% ;
}
