.CategoryList ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  
  
}
.CategoryList li {
  border-right: 1px ;
}

.CategoryList li a {
  display: block;
  
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}

