.CategoryList{
display: block;
padding-left: 50px;
 
}

.category {
  padding: 10px;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;

  justify-content: center;
 
}



.CategoryList ul li a {
text-align: start;
  text-decoration: none;
  font-weight: 900;
  color:black;
  font-size: 22px;
  display: block;
  border-bottom: 1px  solid black;
  margin-bottom: 15px;
}

.CategoryList li {
  list-style-type: none;
  text-decoration: none;

}

.CategoryList ul a:hover {
  color:black;
}


.CategoryList ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}




.CategoryList p {
  color:black;
  font-size: 20px;
  font-weight: 900;
  margin-top: 45px;
  font-size: 23px;
font-family: 'Times New Roman', Times, serif;
}

.CategoryList img {
  width: 220px;
  height: 259px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}

.CategoryList img:hover {
  transform: scale(0.90);
  transition: 0.5s;
}

.CategoryList .Category {
  padding: 8px 15px;
  flex-direction: column;
  text-align: center;
  font-size: 23px;
font-family: 'Times New Roman', Times, serif;
transition: 0.3S;
}

.Category {
  color:  black;

  text-align: center;
  margin-right: 50px;
  
}
