.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  
}
  

 .Nav li {
  float: left;
  left: 150px;
}

.Nav li a {
  display: block;
  color:black;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 50%;
  
}

.Nav li a:hover {
  background-color: black;
  color: white;
}