.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.Nav li {
  float: left;
  margin-left: 50px;
  margin-right: 5px;
}

.Nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

.Nav li a:hover {
  background-color: grey;
  color: white;
}
@media (max-width: 650px) {
  .Nav ul {
    flex-direction: column;
  }
}
